@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hero{
	width: 100%;
	min-height: 100vh;
	background-image: url("images/achtergrond.png");
	background-position: center;
	background-size: cover;
	padding: 10px 10%;
	overflow: hidden;
	position: relative;
}
nav{
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 140px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 15px;
}
nav ul li a{
	text-decoration: none;
	color: #333;
	font-weight: 400;
}
.login-btn{
	text-decoration: none;
	color: #333;
	margin-right: 15px;
	font-weight: 400;
}
.btn{
	display: inline-block;
	text-decoration: none;
	padding: 14px 40px;
	color: #fff;
	background-image: linear-gradient(45deg, #f23094, #fda18c);
	font-size: 14px;
	border-radius: 30px;
	border-top-right-radius: 0;
	transition: 0.5s;
}
.content{
	margin-top: 2%;
	max-width: 600px;
}
.content h1{
	font-size: 70px;
	color: #222;
}
.content p{
	margin: 10px 0 30px;
	color: #333;
	animation-delay: 0.5s;
}
.content .btn{
	padding: 15px 80px;
	font-size: 15px;
	animation-delay: 1s;
}
.btn:hover{
	border-top-right-radius: 30px;
}
.feature-img{
	width: 530px;
	position: absolute;
	bottom: 30px;
	right: 10%;
}
.anim{
	opacity: 0;
	transform: translateY(30px);
	animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
.feature-img.anim2{
	animation-delay: 0s;
}
.anim2{
	opacity: 1;
	transform: translateY(30px);
	animation: movedown 0.5s linear forwards;
}
@keyframes movedown{
	100%{
		opacity: 0;
		transform: translateY(0px);
	}
}
body{
	margin: 0;
	padding: 0;
}
.middle{
	position: absolute;
	top: 88%;
	left: 74%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.knop{
	background: none;
	border-image: linear-gradient(45deg, #f23094, #fda18c);
	border-image-slice: 1;
	font-family: "montserrat",sans-serif;
	text-transform: uppercase;
	padding: 12px 20px;
	min-width: 200px;
	margin: 10px;
	cursor: pointer;
	transition: color 0.4s linear;
	position: relative;
}
.knop:hover{
	color: #fff;
}
.knop::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -1px;
	margin-left: -1px;
	margin-bottom: -20px;
	width: 101%;
	height: 105%;
	background-image: linear-gradient(45deg, #f23094, #fda18c);
	z-index: -1;
	transition: transform 0.5s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.knop1::before{
	transform: scaleX(0);
}
.knop1:hover::before{
	transform: scaleX(1);
}
.anim3{
	opacity: 0;
	transform: translateY(60px);
	animation: moveup 0.5s linear forwards;
}
.knop.anim3{
	animation-delay: 1s;
}
.fotocyclus{
	width: 550px;
	height: 375px;
	position: absolute;
	bottom: 180px;
	right: 8%;
	transition: 0.3s;
}
.anim4{
	opacity: 0;
	transform: translateY(60px);
	animation: moveup 0.5s linear forwards;
}
.fotocyclus.anim4{
	animation-delay: 1s;
}
.fotocyclus:active{
	transform: scale(0.8)
}
.contact
{
	width: 475px;
	background-color: white;
	box-shadow: 0 0 20px 0 #999;
	top: 20%;
	left: 34%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 14px;
}
form
{
	margin: 35px;
}
.input-veld
{
	width: 400px;
	height: 40px;
	margin-top: 20px;
	padding-right: 10px;
	border: 1px sold #777;
	border-radius: 10px;
	outline: none;
}
.textarea-veld
{
	height: 150px;
	padding-top: 10px;
}
.verzenden
{
	border-radius: 20px;
	color: #fff;
	margin-top: 18px;
	padding: 10px;
	background-image: linear-gradient(45deg, #f23094, #fda18c);
	font-size: 12px;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.anim5{
	opacity: 0;
	transform: translateY(60px);
	animation: moveup 0.5s linear forwards;
}